
/* ESTILOS GLOBALES */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100dvh;
    position: relative;
    margin: 0 auto;
	overflow-y: auto
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* ----------------------------- */


/* ESTILOS MODAL */

/* Modal Login */
.login {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.login .form {
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos el modal */
.login.show {
	display: block;
}

/* Botón de cerrar */
.login .form i { 
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

/* Título */
.login .form h2 { 
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.login .form .caja {
	margin: 20px 0;
}

.login .form .caja label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de email y contraseña */
.login .form .caja input[type="email"],
.login .form .caja input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

/* Damos estilo a la caja del checkbox */
.login .form .caja input[type="checkbox"] { 
	margin-right: 5px;
}

/* Damos estilo al botón */
.login .form .caja button { 
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

/* Damos estilo a enlace */
.login .form .caja a { 
	display: block;
	text-align: right;
	font-size: 14px;
	color: #1d1d1b;
	font-weight: 600;
	text-decoration: none;
}

.login .form .caja a:hover {
	text-decoration: underline;
}

/*----------------------*/

/* Modal Registro */
.registro {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.registro .formulario {
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos la modal */
.registro.show {
	display: block;
}

/* Botón de cerrar */
.registro .formulario i {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

/* Título */
.registro .formulario h2 {
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.registro .formulario .datos {
	margin: 20px 0;
}

.registro .formulario .datos label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de datos, email, contraseña y texto */
.registro .formulario .datos input[type="datos"],
.registro .formulario .datos input[type="email"],
.registro .formulario .datos input[type="password"],
.registro .formulario .datos input[type="text"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

/* Checkbox */
.registro .formulario .datos input[type="checkbox"] {
	margin-right: 5px;
}

/* Botón */
.registro .formulario .datos button { 
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.registro .formulario .datos a {
	font-weight: 600;
	color: #1d1d1b;
}


/* ----------------------------- */


/* ESTILO GENERAL MENÚ DE NAVEGACIÓN PRINCIPAL */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    z-index: 100;
}

/* Título */
.nav .titulo {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
}

/* Contenedor de botones de dropdown */
.nav .btns-dropdown {
    display: flex;
    gap: 50px; /* Espaciado entre iconos */
    align-items: center;
}

/* Botones de dropdown */
.nav .btns-dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
}

.nav .btns-dropdown button:focus {
    outline: none;
}

/* Dropdowns generales */
.dropdown-container {
    position: relative;
}

/* Dropdowns */
.dropdown-search,
.dropdown-user {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    top: 3rem;
    right: 0;
}

.dropdown-search {
    border-radius: 5rem;
    padding: 0.3rem;
}

.dropdown-user {
    border-radius: 1rem;
    padding: 1.5rem 0.3rem;
    text-align: center;
}

/* Mostrar los dropdown activos */
.dropdown-search.abrir-search,
.dropdown-user.abrir-user {
    display: block;
}

/* Contenido del dropdown de búsqueda */
.dropdown-search .menu-search {
    display: flex;
    align-items: center;
    width: 28rem;
    border-radius: 2rem;
}

.dropdown-search input {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    color: #1d1d1b;
    padding: 0.5rem;
}

.dropdown-search .btn-search {
    background-color: #E33323;
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.dropdown-search .btn-search a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Contenido del dropdown de usuario */
.dropdown-user .menu-user {
    width: 10rem;
    border-radius: 1rem;
}

.dropdown-user ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dropdown-user li a {
    font-size: 16px;
    color: #1d1d1b;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 5px;
}

.dropdown-user li a:hover {
    color: #E33323;
}


/* ----------------------------- */


/* ESTILOS CUERPO */

/*Imágenes */
#medellin { background-image: url('../_img/medellin.jpg'); }
#porto { background-image: url('../_img/porto.jpg'); }
#milan { background-image: url('../_img/milan.jpg'); }
#lima { background-image: url('../_img/lima.jpg'); }
#new-york { background-image: url('../_img/new-york.jpg'); }
#seattle { background-image: url('../_img/seattle.jpg'); }


/* Contenedor */
.home {
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.home .contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100vh;
	clip-path: circle(0% at 0 50%);
    background-size: cover;
    background-position: center;
    position: relative;
}

.home .contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Activamos el primer botón del menú de navegación manual */
.home .contenedor.active {
	clip-path: circle(150% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}

.home .contenedor .contenido {
	width: 1200px;
    color: #fff;
    display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
    z-index: 2;
	padding: 0 40px;
	min-height: 200px; /* Evita que colapse */
	gap: 5px;
}

/* Título */
.home .contenedor .contenido h1 { 
	font-size: 85px;
	color: #fff;
	line-height: 1;
	margin-right: 40px;
	animation: mov-izq-dcha 2s;
	padding-bottom: 80px;
}

 /* Contenido del texto */
.home .contenedor .contenido p {
    width: 100%;
	max-width: 580px;
    font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
	text-align: justify;
	animation: mov-dcha-izq 2s;
	padding-top: 20px;
}

/* Botón */
.home .contenedor .contenido a {
    width: fit-content;
	background-color: #E33323;
	color: #fafafa;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 30px;
	border-radius: 30px;
    display: inline-block;
	animation: mov-izq-dcha 2s;
	transition-property: transform;
}

.home .contenedor .contenido a:hover {
	transform: scale(1.1);
}


/* ----------------------------- */


/* MENÚ DE NAVEGACIÓN MANUAL (botones) */

.home .botones-laterales {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	top: 50px;
	left: 30px;
    gap: 30px;
	transform: translateY(50%);
}

.home .botones-laterales .btn {
	background: rgba(255, 255, 255, 0.3);
	width: 24px;
	height: 24px;
    margin: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home .botones-laterales .btn:hover,
.home .botones-laterales .btn.active {
	background-color: #fff;
}


/* ----------------------------- */


/* FOOTER */

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
    text-align: center;
	width: 100%;
	padding: 20px 30px;
	position: fixed;
	bottom: 0;
}

.footer ul {
	display: flex;
	flex-direction: row;
}

.footer ul li {
	list-style: none;
}

.footer ul li:not(:last-child) {
	padding-right: 20px;
}

.footer ul li a {
	color: #fafafa;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.footer ul li a:hover {
	text-decoration: underline;
}

.footer i:hover {
	transform: scale(1.3);
}


/* ------------------------------ */


/* ANIMACIÓN PÁGINA MEDELLÍN:
Cada vez que el usuario entra a la página, se activa la animación en el texto, botón y descripción */

/* Título y botón de enlace */
@keyframes mov-izq-dcha { 
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0px);
    }
}

/* Texto */
@keyframes mov-dcha-izq { 
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}


/* ------------------------------ */


/* RESPONSIVE */

/* Ordenadores (Pantallas grandes) */
@media (max-width: 1351px) {
	.home .contenedor .contenido {
		display: flex;
		flex-direction: column;
		gap: 20px;
		max-width: 100%;
		width: 90%;
		padding-left: 80px;
		position: sticky;
		z-index: 1;
	}

	.home .contenedor .contenido h1,
	.home .contenedor .contenido p,
	.home .contenedor .contenido a {
		animation: none;
	}

	.home .contenedor .contenido h1 { 
		font-size: 75px;
		padding-bottom: 0;
		white-space: nowrap; /* Evita el salto de línea */
	}

	.home .contenedor .contenido h1 br { /* Ocultamos el br */
        display: none;
    }

	.home .contenedor .contenido p {
		width: 100%;
		max-width: 700px;
		margin: 30px 0;
	}

	.home .contenedor .contenido a {
		align-self: start;
		margin: 0;
	}
}

/* Ordenadores (Pantallas medianas) */
@media (max-width: 1050px) {
	.home .contenedor .contenido h1 { 
		font-size: 65px;
	}

	.home .contenedor .contenido p {
		font-size: 21px;
	}
}

/* Ordenadores - Tablets (Pantallas medianas) */
@media (max-width: 901px) {

	.dropdown-search .menu-search {
		width: 26rem;
	}

	.home .contenedor .contenido h1 { 
		font-size: 55px;
	}

	.home .contenedor .contenido p {
		font-size: 20px;
	}

	.home .contenedor .contenido p {
		max-width: 600px;
	}
}

/* Tablets (Pantallas medianas) */
@media (max-width: 780px) {

	.home .botones-laterales {
		flex-direction: row;
		top: 110px;
	}

	.home .botones-laterales .btn {
		width: 22px;
		height: 22px;
	}

	.dropdown-search .menu-search {
		width: 26rem;
	}

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 25px;
	}

	.nav .btns-dropdown {
		gap: 40px; 
	}

	.home .contenedor .contenido {
		padding-left: 0px;
	}

	.dropdown-user ul {
		gap: 10px;
	}

	.dropdown-user li a {
		font-size: 14px;
	}

	.home .contenedor .contenido h1 { 
		font-size: 65px;
	}

	.home .contenedor .contenido h1 br {
        display: block;
    }

	.home .contenedor .contenido p {
		max-width: 600px;
	}
}

/* Tablets - Móviles (Pantallas medianas - pequeñas) */
@media (max-width: 630px) {

	.login .form,
	.registro .formulario {
		width: 350px;
	}

	.login .form h2,
	.registro .formulario h2{ 
		font-size: 22px;
	}

	.login .form .caja button,
	.registro .formulario .datos button {
		font-size: 14px;
	}


	.home .contenedor .contenido h1 { 
		font-size: 60px;
	}

	.home .contenedor .contenido p {
		max-width: 500px;
		font-size: 18px;
	}

	.footer {
		flex-direction: column-reverse;
	}

	.footer .enlaces {
		margin-bottom: 20px;
	}
}

/* Móviles (Pantallas pequeñas) */
@media (max-width: 530px) {

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 24px;
	}

	.nav .btns-dropdown {
		gap: 30px; 
	}

	.dropdown-search .menu-search {
		width: 24rem;
	}

	.home .contenedor .contenido h1 { 
		font-size: 60px;
	}

	.home .contenedor .contenido p {
		font-size: 16px;
	}

	.home .contenedor .contenido a {
		font-size: 12px;
	}
}

/* Móviles (Pantallas pequeñas) */
@media (max-width: 450px) {

	.login .form,
	.registro .formulario {
		width: 320px;
	}

	.home .botones-laterales {
		top: 110px;
		transform: translateX(0%);
	}

	.home .botones-laterales {
		gap: 20px;
	}

	.home .contenedor .contenido {
		gap: 10px; /* Ajustar el espacio entre los elementos */
	}

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 22px;
	}

	.nav .btns-dropdown {
		gap: 20px; 
	}

	.home .contenedor .contenido h1 { 
		font-size: 50px;
	}

	.home .contenedor .contenido p {
		max-width: 100%;
	}

	.footer ul li a {
		font-size: 16px;
	}
}