
/* ESTILOS GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	background-color: #fafafa;
}


/* -------------------------------------- */


/* MODAL LOGIN */
.login {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.login .form { /* Damos los estilos al modal login */
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos el modal */
.login.show {
	display: block;
}

.login .form i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.login .form h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.login .form .caja {
	margin: 20px 0;
}

.login .form .caja label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de email y contraseña */
.login .form .caja input[type="email"],
.login .form .caja input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.login .form .caja input[type="checkbox"] { /* Damos estilo a la caja del checkbox */
	margin-right: 5px;
}

.login .form .caja button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.login .form .caja a { /* Damos estilo a enlace */
	display: block;
	text-align: right;
	font-size: 14px;
	color: #1d1d1b;
	font-weight: 600;
	text-decoration: none;
}

.login .form .caja a:hover {
	text-decoration: underline;
}


/* -------------------------------------- */


/* MODAL REGISTRO */
.registro {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.registro .formulario { /* Damos los estilos al modal registro */
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos la modal */
.registro.show {
	display: block;
}

.registro .formulario i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.registro .formulario h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.registro .formulario .datos {
	margin: 20px 0;
}

.registro .formulario .datos label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de datos, email, contraseña y texto */
.registro .formulario .datos input[type="datos"],
.registro .formulario .datos input[type="email"],
.registro .formulario .datos input[type="password"],
.registro .formulario .datos input[type="text"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.registro .formulario .datos input[type="checkbox"] { /* Damos estilo a la datos del checkbox */
	margin-right: 5px;
}

.registro .formulario .datos button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.registro .formulario .datos a {
	font-weight: 600;
	color: #1d1d1b;
}


/* -------------------------------------- */


/* ESTILO GENERAL MENÚ DE NAVEGACIÓN PRINCIPAL */
.nav {
	top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
    padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
}

/* Título */
.nav .titulo {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
	color: #1d1d1b;
}

/* Contenedor de botones de dropdown */
.nav .btns-dropdown {
    display: flex;
    gap: 50px; /* Espaciado entre iconos */
    align-items: center;
    z-index: 1;
}

/* Botones de dropdown */
.nav .btns-dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
	color: #1d1d1b;
}

.nav .btns-dropdown button:focus {
    outline: none;
}

/* Dropdowns generales */
.dropdown-container {
    position: relative;
}

/* Dropdowns */
.dropdown-search,
.dropdown-user {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    top: 3rem;
    right: 0;
}

.dropdown-search {
    border-radius: 5rem;
    padding: 0.3rem;
}

.dropdown-user {
    border-radius: 1rem;
    padding: 1.5rem 0.3rem;
    text-align: center;
}

/* Mostrar los dropdown activos */
.dropdown-search.abrir-search,
.dropdown-user.abrir-user {
    display: block;
}

/* Contenido del dropdown de búsqueda */
.dropdown-search .menu-search {
    display: flex;
    align-items: center;
    width: 28rem;
    border-radius: 2rem;
}

.dropdown-search input {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    color: #1d1d1b;
    padding: 0.5rem;
}

.dropdown-search .btn-search {
    background-color: #E33323;
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.dropdown-search .btn-search a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Contenido del dropdown de usuario */
.dropdown-user .menu-user {
    width: 10rem;
    border-radius: 1rem;
}

.dropdown-user ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dropdown-user li a {
    font-size: 16px;
    color: #1d1d1b;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 5px;
}

.dropdown-user li a:hover {
    color: #E33323;
}


/* -------------------------------------- */


/* BOTÓN ATRÁS */
.btn-back {
	position: absolute;
	margin-top: 35px;
	margin-left: 30px;
	width: 35px;
	height: 35px;
	padding: 8px;
	border-radius: 50%;
	background-color: #E33323;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	text-align: center;
    z-index: 1;
}

.btn-back i {
	color: #fafafa;
	font-weight: 600;
	text-decoration: none;
}


/* -------------------------------------- */


/*Imágenes encabezado */
#lima-barranco { background-image: url('../_img/barranco.jpg'); }
#lima-historia { background-image: url('../_img/historia-lima.jpg'); }
#lima-paracas { background-image: url('../_img/paracas.jpg'); }

#medellin-cocina { background-image: url('../_img/cocina-colombia.jpg'); }
#medellin-comuna { background-image: url('../_img/comuna.jpg'); }
#medellin-guatape { background-image: url('../_img/guatape.jpg'); }

#milan-cocina { background-image: url('../_img/pasta.jpg'); }
#milan-fotos { background-image: url('../_img/photo-shoot-milan.jpg'); }
#milan-fondazione { background-image: url('../_img/fondazione.jpg'); }

#ny-broadway { background-image: url('../_img/broadway.jpg'); }
#ny-brooklyn { background-image: url('../_img/brooklyn.jpg'); }
#ny-empire-state { background-image: url('../_img/empire-state.jpg'); }

#oporto-fotos { background-image: url('../_img/photo-shoot-porto.jpg'); }
#oporto-livreria { background-image: url('../_img/livreria.jpg'); }
#oporto-visita { background-image: url('../_img/tour-oporto.jpg'); }

#seattle-cafe { background-image: url('../_img/cafe.jpg'); }
#seattle-mercado { background-image: url('../_img/mercado.jpg'); }
#seattle-space-needle { background-image: url('../_img/needle.jpg'); }


/* Encabezado */
.encabezado {
    color: #fff;
    text-align: center;
}

.contenido-encabezado {
    max-width: 100%;
    height: 350px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.contenido-encabezado:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.contenido-encabezado h1 {
    font-size: 54px;
    margin: 0 auto;
    padding-top: 60px;
    z-index: 1;
}

.btn-encabezado {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    gap: 20px;
}

/* Botón reserva */
.btn-reserva { 
    background: #E33323;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Botón favorito */
.btn-favorito { 
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.5rem;
    color: #1d1d1b;
}

.btn-reserva,
.btn-favorito {
    display: none;
    z-index: 1;
}


/* -------------------------------------- */


/* MENÚ DE NAVEGACIÓN INTERNO DE LA PÁGINA */
#navbar {
    position: sticky;
    top: 0;
    background: #fafafa;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #ccc;
    z-index: 1;
}

.navegador {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.navegador li {
    position: relative;
}

.navegador li:not(:first-child)::before {
    content: "|";
    color: gray;
    margin-right: 10px;
}

.navegador a {
    text-decoration: none;
    color: #1d1d1b;
    font-weight: bold;
    font-size: 18px;
}

.navegador a:hover {
    color: #E33323;
}

.btn-fav {
    padding: 8px 15px;
    text-decoration: none;
    color: #E33323;
    border-radius: 5px;
    gap: 5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    white-space: nowrap;
}

.btn-fav:hover {
    text-decoration: underline;
    font-weight: bold;
}



/* -------------------------------------- */


/* CONTENEDOR GENERAL DE LA ACTIVIDAD */
.actividad-pagina{
	padding: 60px 30px 0 30px;
}

.actividad-pagina .contenedor-texto{
    max-width: 1100px;
}


/* -------------------------------------- */


.descripcion { 
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.descripcion .contenedor-texto {
    max-width: 1100px;
    flex: 1;
}

.descripcion h2 {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #E33323;
    display: none; 
}

.descripcion p {
    font-size: 18px;
    color: #1d1d1b;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

.descripcion span {
    font-weight: 500;
}

/* Cuadro de reserva */
.cuadro-reserva {
    background: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    width: 400px;
    flex-shrink: 0;
    border-top: 4px solid #E33323;
    box-shadow: 0 3px 10px rgba(25, 25, 25, 0.12);
    text-align: center;
    display: block;
}

.cuadro-reserva .datos {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cuadro-reserva .datos p {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    line-height: 1.2;
}

.cuadro-reserva strong {
    font-weight: 800;
    color: #E33323;
    font-size: 48px;
}

/* Botón de reserva */
.boton-reserva {
    display: inline-block;
    background: #E33323;
    color: white;
    text-decoration: none;
    padding: 14px 18px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.boton-reserva:hover {
    transform: scale(1.05);
}

/* Nota con icono */
.cuadro-reserva .nota {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: #1d1d1b;
    margin-top: 20px;
}

.cuadro-reserva .nota i {
    font-size: 20px;
    color: #1d1d1b;
}

.cuadro-reserva .nota p {
    font-size: 16px;
    margin-bottom: 0;
}



/* -------------------------------------- */


/* Información general */
.info-general {
    width: 100%;
    margin: 20px auto;
}

.info-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1b;
    border: none;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #E33323;
}

/* Ocultamos el botón dropdown en web */
.info-btn .fa-solid.fa-chevron-down {
    display: none;
    font-size: 24px;
}


.informaciones {
    display: none;
    padding: 15px 0;
    border-radius: 8px;
    margin-top: 10px;
}

.informaciones.activo {
    display: block;
}

.informacion {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.info-general .info-btn h2 {
    font-size: 24px;
}

.informacion i {
    font-size: 20px;
    color: #1d1d1b;
}

.informacion span {
    font-weight: bold;
    font-size: 16px;
}

.informacion p, .informacion ul {
    font-size: 14px;
    color: #1d1d1b;
    margin: 5px 0;
}

.informacion ul {
    padding-left: 20px;
}

.informacion li {
    margin-bottom: 5px;
}


/* -------------------------------------- */


/* CONTENEDOR RESERVA DE LA ACTIVIDAD (CUADRO INTERACTIVO) */
.reserva-contenido {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 30px;
    border-top: 3px solid #E33323;
    box-shadow: 0 3px 10px rgba(25, 25, 25, 0.12);
}

.reserva-contenido h2 {
    margin-bottom: 25px;
}

.selecciones,
.button-reserva {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.seleccion-menu {
    position: relative;
    cursor: pointer;
}

.seleccion-btn {
    background: #fff;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #1d1d1b;
    width: 100%;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seleccion-btn i {
    margin: 0 20px;
}

.options, .calendario {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 10;
}

.seleccion-menu:hover .options, 
.seleccion-menu:hover .calendario {
    display: block; /* Se muestra al pasar el mouse */
}

.option {
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

.option:hover {
    background: #ddd;
    width: 100%;
}

.button-reserva {
    background-color: #E33323;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    padding: 15px 35px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

/* Calendario */
.calendario {
    width: 320px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
}
.btn:hover {
    background: #0056b3;
}
.semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    padding: 0;
    margin: 0;
    list-style: none;
}
.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
    margin: 0;
    list-style: none;
}
.dia, .inactivo {
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
}
.dia:hover {
    background: #f0f0f0;
}

.inactivo {
    color: #ccc;
    background: none;
    cursor: default;
}


/* -------------------------------------- */


/* PUNTO DE ENCUENTRO */
.ubicacion {
    width: 100%;
    margin: 10px auto;
    padding: 30px 0;
}

.ubicacion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1b;
    border: none;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #E33323;
}

/* Ocultamos el botón dropdown en web */
.ubicacion-btn .fa-solid.fa-chevron-down {
    display: none;
    font-size: 24px;
}

.encuentro {
    display: none;
    padding: 20px 0;
}

.encuentro.activo {
    display: block;
}

.mapa {
    width: 100%;
    height: 180px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../_img/mapa.jpg') no-repeat center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.mapa a {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.mapa a:hover {
    background: rgba(0, 0, 0, 0.9);
}


/* -------------------------------------- */


/* CONTENEDOR OPINIONES DE CLIENTES */
.opiniones {
    width: 100%;
    padding: 0 30px 60px 30px;
}

.opinion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    font-size: 24px;
    font-weight: 600;
    color: #1d1d1b;
    border: none;
    cursor: pointer;
    background-color: #fafafa;
    border-bottom: 1px solid #E33323;
}

/* Ocultamos el botón dropdown en web */
.opinion-btn .fa-solid.fa-chevron-down {
    display: none;
    font-size: 24px;
}

.comentarios {
    display: none;
    padding: 10px;
    margin-top: 20px;
}

.comentarios.activo {
    display: block;
}

.valoracion {
    font-weight: bold;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    border-left: 3px solid #E33323;
    border-bottom: 3px solid #E33323;
    padding: 20px 30px;
    max-width: 350px;
}

.valoracion p {
    margin-bottom: 10px;
    font-weight: 600;
}

.valoracion  p span {
    font-size: 26px;
    color: #E33323;
}

.valoracion .fa-star {
    font-size: 20px;
    color: #E33323;
}

.valoracion .cita {
    color: #1d1d1b;
    font-size: 16px;
    font-weight: 400;
}

.resena {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.usuario {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.estrellas {
    color: #E33323;
}

.estrella-gris {
    color: #ccc;
}

.resenas-container {
    max-width: 100%;
    margin: 20px auto;
    padding-top: 20px;
}

.estrellas {
    color: #E33323;
    margin-bottom: 10px;
}

#inactivo {
    color: #ccc;
}

.persona {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre imagen y texto */
}

.persona img {
    width: 50px; /* Ajusta el tamaño de la imagen */
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.datos-persona {
    display: flex;
    flex-direction: column;
}

.nombre {
    font-weight: bold;
    margin: 0;
}

.fecha {
    font-size: 0.9em;
    color: gray;
    margin: 0;
}

.comentario {
    margin-top: 10px;
    font-style: italic;
}



/* -------------------------------------- */


/* FOOTER */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 30px;
	bottom: 0;
	background-color: #ffffff;
}

.footer ul {
	display: flex;
	flex-direction: row;
}

.footer ul li {
	list-style: none;
}

.footer ul li:not(:last-child) {
	padding-right: 20px;
}

.footer ul li a {
	color: #1d1d1b;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.footer a:hover {
	color: #E33323;
}

.footer i:hover {
	transform: scale(1.3);
}



/* ----------------------------- */



/* RESPONSIVE */

/* Ordenador (Pantallas pequeñas) */
@media (max-width: 1170px) {
    
    .encabezado {
        text-align: left;
    }
    
    .contenido-encabezado {
        height: auto;
        height: 400px;
        margin-left: 0;
        padding-left: 30px;
    }
    
    .contenido-encabezado h1 {
        padding-top: 60px;
    }
    
    .contenido-encabezado h1,
    .btn-encabezado {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .btn-reserva,
    .btn-favorito {
        display: block;
    }

    .btn-reserva {
        font-size: 14px;
    }

    .btn-favorito {
        font-size: 1.2rem;
        padding: 12px;
    }

    .descripcion .contenedor-texto {
        width: 100%;
    }
    
    .descripcion h2 {
        display: block; 
    }

    .descripcion p {
        padding-top: 15px;
    }

    .cuadro-reserva {
        display: none;
    }

    .selecciones,
    .button-reserva {
        gap: 10px;
    }

    .seleccion-menu, .button-reserva {
        width: 100%;
    }
}


 /* ----------------------------- */


 @media (max-width: 1021px) {
    #navbar {
        display: none;
    }
 }


/* Dispositivos medianos */
@media (max-width: 781px) {

    .info-btn .fa-solid.fa-chevron-down,
    .ubicacion-btn .fa-solid.fa-chevron-down,
    .opinion-btn  .fa-solid.fa-chevron-down {
        display: block;
    }

    .informaciones,
    .encuentro,
    .comentarios {
        display: block;
    }

    .informaciones.activo,
    .encuentro.activo,
    .comentarios.activo {
        display: none;
    }

    .reserva-contenido {
       margin-top: 50px;
    }

    .reserva-contenido h2 {
        font-size:  22px;
    }

}


@media (max-width: 611px) {

    .nav {
        background: transparent;
        width: 100%;
        z-index: 1;
        position: absolute;
    }

    .nav .titulo,
    .nav .btns-dropdown button {
        color: #fff;
        font-size: 24px;
    }

    .nav .btns-dropdown {
        gap: 30px; /* Espaciado entre iconos */
    }

    .btn-back {
        margin-top: 120px;
    }

    .encabezado {
        padding-top: 80px;
    }

    .dropdown-search .menu-search {
        width: 24rem;
    }

    .contenido-encabezado h1 {
        font-size: 55px;
    }

    .descripcion h2 {
        font-size: 22px;
    }

    .info-btn,
    .ubicacion-btn,
    .opinion-btn {
        font-size: 22px;
    }

    .info-btn .fa-solid.fa-chevron-down,
    .ubicacion-btn .fa-solid.fa-chevron-down,
    .opinion-btn .fa-solid.fa-chevron-down {
        font-size: 22px;
    }

    .reserva-contenido h2 {
        font-size:  20px;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
    }

    .footer .enlaces {
        margin-bottom: 20px;
    }
}

@media (max-width: 511px) {

    .login .form,
    .registro .formulario {
        width: 350px;
    }

    .login .form h2,
    .registro .formulario h2 {
        font-size: 22px;
    }

    .registro .formulario .datos button,
    .login .form .caja button {
        font-size: 14px;
    }

    .dropdown-search .menu-search {
        width: 20rem;
    }

    .contenido-encabezado h1 {
        font-size: 50px;
    }

    .descripcion p {
        font-size: 16px;
    }
}



/* ----------------------------- */
