
/*

DESCRIPCIÓN GENERAL PÁGINA DE ATERRIZAJE
Esta sección es introductoria y muestra al usuario lo que Stop, Drop & Travel ofrece.

Contiene:
1.Título
2.Subtítulo
3.Texto descriptivo
4.Botón
5.Responsive

*/


/* ----------------------------- */


/* ESTILOS GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../_img/inicio.jpg") no-repeat center center / cover;
	color: #fff;
}


/* ----------------------------- */


/* ESTILOS CONTENEDOR */
.contenedor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 1200px;
}

.contenedor h1 { /* Título principal */
	font-size: 70px;
	margin-bottom: 70px;
}

.contenedor i { /* Reducimos un poco el icono del avión para que sea igual de ancho que el texto */
	font-size: 60px;
}

.contenedor h2 { /* Título secundario */
	font-size: 50px;
	margin-bottom: 70px;
}

.contenedor p { /* Texto */
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	font-weight: 600;
	max-width: 600px;
}

.contenedor a { /* Enlace */
	font-size: 16px;
	background-color: #E33323;
	padding: 15px 50px;
	text-decoration: none;
    text-transform: uppercase;
	color: #fafafa;
	font-weight: 600;
	border-radius: 50px;
	margin-top: 70px;
	transition: transform;
}

.contenedor a:hover {
	transform: scale(1.1);
}



/* ----------------------------- */



/*

FORMATO RESPONSIVE
Se adecuarán los tamaños para todo tipo de pantallas.
Ordenadores, tablet y móviles.

*/


/* RESPONSIVE ORDENADOR */
@media (max-width: 1025px){

    /* Reducimos el tamaño de todas las tipografías
    y el botón que hay en el contenedor */

    .contenedor h1{
        font-size: 65px;
    }

    .contenedor i{
        font-size: 55px;
    }

    .contenedor h2{
        font-size: 45px;
    }

    .contenedor p{
        font-size: 18px;
        max-width: 550px;
    }

    .contenedor a{
        font-size: 14px;
    }
}



/* ----------------------------- */



/* RESPONSIVE TABLET */
@media (max-width: 801px){

    /* Reducimos el tamaño de todas las tipografías
    y el botón que hay en el contenedor junto con el
    espaciado que hay entre ellos */

    .contenedor h1{
        font-size: 55px;
    }

    .contenedor i{
        font-size: 45px;
    }

    .contenedor h2{
        font-size: 35px;
    }

    .contenedor p{
        font-size: 16px;
        max-width: 500px;
    }

    .contenedor a{
        font-size: 12px;
        padding: 15px 35px;
    }
}


/* ----------------------------- */


/* RESPONSIVE TABLET-MÓVIL */
@media (max-width: 601px){

    /* Reducimos el tamaño de todas las tipografías
    y el botón que hay en el contenedor junto con el
    espaciado que hay entre ellos.
    También alineamos el contenido a la izquierda */

    .contenedor{
        padding: 0 30px;
        align-items: flex-start;
    }

    .contenedor h1{
        font-size: 70px;
        margin-bottom: 80px;
    }

    .contenedor i{
        font-size: 55px;
    }

    .contenedor h2{
        font-size: 45px;
        margin-bottom: 80px;
    }

    .contenedor p{
        font-size: 18px;
        max-width: 400px;
        text-align: left;
    }

    .contenedor a{
        font-size: 14px;
        padding: 15px 35px;
        margin-top: 80px;
    }
}



/* ----------------------------- */



/* RESPONSIVE MÓVIL */
@media (max-width: 475px) {

    /* Reducimos el tamaño de todas las tipografías
    y el botón que hay en el contenedor junto con el
    espaciado que hay entre ellos. */

    .contenedor h1{
        font-size: 65px;
        margin-bottom: 70px;
    }

    .contenedor h2{
        font-size: 40px;
        margin-bottom: 70px;
    }

    .contenedor a{
        margin-top: 70px;
    }
}



/* ----------------------------- */



/* RESPONSIVE MÓVIL CHIQUITO */
@media (max-width: 415px) {

    /* Reducimos el tamaño de todas las tipografías
    y el icono que hay en el contenedor junto con el
    espaciado que hay entre ellos. */

    .contenedor h1{
        font-size: 60px;
    }

    .contenedor h2{
        font-size: 35px;
    }

    .contenedor i{
        font-size: 50px;
    }

}
