
/* ESTILOS GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}


/* -------------------------------------- */


/* MODAL LOGIN */
.login {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.login .form {
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
	z-index: 5;
}

/* Mostramos la modal */
.login.show {
	display: block;
}

.login .form i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.login .form h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

.login .form .caja { /* Todos los inputs, botones y demás */
	margin: 20px 0;
}

.login .form .caja label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de email y contraseña */
.login .form .caja input[type="email"], 
.login .form .caja input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.login .form .caja input[type="checkbox"] { /* Damos estilo a la caja del checkbox */
	margin-right: 5px;
}

.login .form .caja button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.login .form .caja a { /* Damos estilo al enlace */
	display: block;
	text-align: right;
	font-size: 14px;
	color: #1d1d1b;
	font-weight: 600;
	text-decoration: none;
}

.login .form .caja a:hover {
	text-decoration: underline;
}

/* -------------------------------------- */

/* MODAL REGISTRO */
.registro {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.registro .formulario { /* Damos los estilos al modal registro */
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos la modal */
.registro.show {
	display: block;
}

.registro .formulario i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.registro .formulario h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.registro .formulario .datos {
	margin: 20px 0;
}

.registro .formulario .datos label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de datos, email, contraseña y texto */
.registro .formulario .datos input[type="datos"],
.registro .formulario .datos input[type="email"],
.registro .formulario .datos input[type="password"],
.registro .formulario .datos input[type="text"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.registro .formulario .datos input[type="checkbox"] { /* Damos estilo a la datos del checkbox */
	margin-right: 5px;
}

.registro .formulario .datos button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.registro .formulario .datos a {
	font-weight: 600;
	color: #1d1d1b;
}


/* -------------------------------------- */


/* ESTILO GENERAL MENÚ DE NAVEGACIÓN PRINCIPAL */
.nav {
	top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: relative;
    padding: 20px 30px;
	background-color: #fff;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
}

/* Título */
.nav .titulo {
    font-size: 28px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    white-space: nowrap;
	color: #1d1d1b;
}

/* Contenedor de botones de dropdown */
.nav .btns-dropdown {
    display: flex;
    gap: 50px; /* Espaciado entre iconos */
    align-items: center;
}

/* Botones de dropdown */
.nav .btns-dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
    padding: 5px;
    display: flex;
    align-items: center;
	color: #1d1d1b;
}

.nav .btns-dropdown button:focus {
    outline: none;
}

/* Dropdowns generales */
.dropdown-container {
    position: relative;
}

/* Dropdowns */
.dropdown-search,
.dropdown-user {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    top: 3rem;
    right: 0;
}

.dropdown-search {
    border-radius: 5rem;
    padding: 0.3rem;
}

.dropdown-user {
    border-radius: 1rem;
    padding: 1.5rem 0.3rem;
    text-align: center;
}

/* Mostrar los dropdown activos */
.dropdown-search.abrir-search,
.dropdown-user.abrir-user {
    display: block;
}

/* Contenido del dropdown de búsqueda */
.dropdown-search .menu-search {
    display: flex;
    align-items: center;
    width: 28rem;
    border-radius: 2rem;
}

.dropdown-search input {
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    color: #1d1d1b;
    padding: 0.5rem;
}

.dropdown-search .btn-search {
    background-color: #E33323;
    padding: 0.8rem 1.6rem;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
}

.dropdown-search .btn-search a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

/* Contenido del dropdown de usuario */
.dropdown-user .menu-user {
    width: 10rem;
    border-radius: 1rem;
}

.dropdown-user ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dropdown-user li a {
    font-size: 16px;
    color: #1d1d1b;
    text-decoration: none;
    font-weight: 600;
    display: block;
    padding: 5px;
}

.dropdown-user li a:hover {
    color: #E33323;
}


/* -------------------------------------- */


/* ESTILO ENCABEZADO */
.encabezado {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-color: #ffffff;
}

.encabezado h1 {
	font-size: 34px;
	color: #1d1d1b;
	text-align: center;
}


/* -------------------------------------- */


/* Variables globales */
:root {
    --color-fondo: #fafafa;
    --color-blanco: #fff;
    --color-texto: #1d1d1b;
    --color-borde: #9e9e9e;
    --color-destacado: #E33323;
    --sombra: 0 2px 5px 0 rgba(25, 25, 25, 0.1);
}

/* ESTILO CONTENEDOR */
.contenedor {
    width: 100%;
    padding: 100px 0;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: center;
}

.contenedor .contenido {
    background-color: var(--color-blanco);
    max-width: 1200px;
    padding: 60px 40px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(25, 25, 25, 0.16);
}

/* SEDE PRINCIPAL */
.sede {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Separa los elementos sin necesidad de margin-bottom */
    margin-bottom: 80px;
}

.sede .texto {
    color: var(--color-texto);
}

.sede h3 {
    font-size: 24px;
    margin-bottom: 25px;
}

/* Dirección y teléfono */
.direccion, .tlf {
    margin-bottom: 20px;
    line-height: 1.5;
}

.direccion span, .tlf span {
    font-size: 16px;
    font-weight: 600;
}

.direccion p, .tlf p {
    font-size: 16px;
    font-weight: 300;
}

/* Imagen decorativa */
.sede img {
    width: 300px;
    border-radius: 5px;
    box-shadow: var(--sombra);
    object-fit: cover;
}

/* SECCIÓN AYUDA */
.ayuda {
    border-top: 0.5px solid var(--color-borde);
    margin: 60px 0;
	padding-top: 60px;
}

.ayuda .titulo {
    font-size: 16px;
    color: var(--color-texto);
    font-weight: 600;
}

/* Contenido */
.ayuda .caja {
    background-color: #fcf7f6;
    padding: 25px 20px;
    margin-top: 20px;
    border-top: 3px solid var(--color-destacado);
    border-radius: 5px;
    margin-bottom: 40px;
    box-shadow: var(--sombra);
}

.ayuda .caja p {
    line-height: 1.5;
    font-size: 16px;
}

.ayuda .caja a {
    font-weight: 600;
    color: var(--color-texto);
    text-decoration: none;
}

/* Input de contacto */
.form {
    display: flex;
    align-items: center;
    gap: 20px; /* Evita el margin-left en el botón */
}

.form input {
    padding: 15px;
    width: 300px;
    border: 1px solid var(--color-texto);
    border-radius: 5px;
    outline: none;
}

.form button {
    background-color: var(--color-destacado);
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-blanco);
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
}



/* -------------------------------------- */


/* ESTILO FOOTER */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 30px;
	bottom: 0;
	background-color: #ffffff;
}

.footer ul {
	display: flex;
	flex-direction: row;
}

.footer ul li {
	list-style: none;
}

.footer ul li:not(:last-child) {
	padding-right: 20px;
}

.footer ul li a {
	color: #1d1d1b;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.footer a:hover {
	color: #E33323;
}

.footer i:hover {
	transform: scale(1.3);
}


/* ------------------------------ */


/* FORMATO RESPONSIVE */


/* Ordenador (Pantallas pequeñas) */
@media (max-width: 1111px) {
	.contenedor {
		width: 90%;
		margin: 0 auto;
	}
}


/* Dispositivos medianos */
@media (max-width: 851px) {

	.sede {
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 0;
		gap: 30px;
	}

	.contenedor .contenido {
		padding: 60px 40px;
	}

	.sede img {
		width: 100%;
		height: 180px;
		border-radius: 5px;
		box-shadow: var(--sombra);
	}

	.ayuda {
		border-top: 0.5px solid var(--color-borde);
		margin: 40px 0 0 0;
		padding-top: 60px;
	}
}

@media (max-width: 611px) {

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 26px;
	}

	.nav .btns-dropdown {
		gap: 30px;
	}

	.footer {
		display: flex;
		flex-direction: column-reverse;
	}

	.footer .enlaces {
		margin-bottom: 20px;
	}

	.dropdown-search .menu-search {
		width: 24rem;
	}
}


/* Dispositivos pequeños */
@media (max-width: 581px) {

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 24px;
	}

	.login .form,
	.registro .formulario {
		width: 350px;
	}

	.login .form h2,
	.registro .formulario h2 {
		font-size: 22px;
	}

	.login .form .caja button,
	.registro .formulario .datos button {
		font-size: 14px;
	}

	.form {
		flex-direction: column;
	}

	.form input,
	.form button {
		width: 100%;
	}
}

@media (max-width: 471px) {

	.nav {
		background: transparent;
		box-shadow: none;
	}

	.nav .titulo,
	.nav .btns-dropdown button {
		font-size: 22px;
	}

	.footer ul li a {
		font-size: 16px;
	}
}