
/*

DESCRIPCIÓN GENERAL PÁGINA HOME (destinos)
Esta sección ofrece al usuario los diferentes destinos junto con una breve descripción de cada uno de ellos.

Contiene:
1.Modales
    1.1 Modal login
    1.2 Modal login
2.Navegador principal general
3.Estilo de los destinos:
    3.1 Título
    3.2 Descripción
    3.3 Botón de actividades
4.Menú de navegación manual por puntos animado con JS
5.Footer General
6.Responsive

*/


/* ----------------------------- */


/* ESTILOS GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
	height: 100vh;
}


/* ----------------------------- */


/* MODAL LOGIN */
.login {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.login .form { /* Damos los estilos al modal login */
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos el modal */
.login.show {
	display: block;
}

.login .form i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.login .form h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.login .form .caja {
	margin: 20px 0;
}

.login .form .caja label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de email y contraseña */
.login .form .caja input[type="email"],
.login .form .caja input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.login .form .caja input[type="checkbox"] { /* Damos estilo a la caja del checkbox */
	margin-right: 5px;
}

.login .form .caja button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.login .form .caja a { /* Damos estilo a enlace */
	display: block;
	text-align: right;
	font-size: 14px;
	color: #1d1d1b;
	font-weight: 600;
	text-decoration: none;
}

.login .form .caja a:hover {
	text-decoration: underline;
}


/* ----------------------------- */


/* MODAL REGISTRO */
.registro {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: absolute;
	height: 100vh;
	width: 100%;
	display: none;
}

.registro .formulario { /* Damos los estilos al modal registro */
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 30px;
	box-shadow: 0 2px 8px 0 rgba(25, 25, 25, 0.16);
	border-radius: 10px;
}

/* Mostramos la modal */
.registro.show {
	display: block;
}

.registro .formulario i { /* Botón de cerrar */
	position: absolute;
	top: 15px;
	right: 15px;
	width: 20px;
	height: 20px;
	color: #1d1d1b;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
}

.registro .formulario h2 { /* Título */
	text-align: center;
	color: #1d1d1b;
	margin: 10px 0 20px;
	font-size: 25px;
}

/* Todos los inputs, botones y demás */
.registro .formulario .datos {
	margin: 20px 0;
}

.registro .formulario .datos label {
	font-size: 14px;
	color: #1d1d1b;
}

/* Damos estilo a los inputs de datos, email, contraseña y texto */
.registro .formulario .datos input[type="datos"],
.registro .formulario .datos input[type="email"],
.registro .formulario .datos input[type="password"],
.registro .formulario .datos input[type="text"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 0.5px solid #1d1d1b;
	border-radius: 5px;
}

.registro .formulario .datos input[type="checkbox"] { /* Damos estilo a la datos del checkbox */
	margin-right: 5px;
}

.registro .formulario .datos button { /* Damos estilo al botón */
	width: 100%;
	height: 50px;
	background-color: #E33323;
	border: none;
	outline: none;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 2px 8px 0 rgba(16, 16, 16, 0.16);
}

.registro .formulario .datos a {
	font-weight: 600;
	color: #1d1d1b;
}


/* ----------------------------- */


/* ESTILO GENERAL MENÚ DE NAVEGACIÓN PRINCIPAL */
.nav {
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 1;
}

.nav .titulo {
	font-size: 30px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 600;
}

/* Dropdowns (Usuario y Search) */
.nav .btns-dropdown {
	display: flex;
	flex-direction: row;
}

.nav .btns-dropdown .fa-magnifying-glass,
.nav .btns-dropdown .fa-user {
	font-size: 30px;
	color: #ffffff;
}

.nav .btns-dropdown .fa-magnifying-glass {
	margin-right: 80px;
}

/* Dropdown Search */
.nav .btns-dropdown .dropdown-search {
	overflow: hidden;
	display: none;
}

.nav .btns-dropdown .dropdown-search.abrir-search {
	display: block;
}

.nav .btns-dropdown .dropdown-search .menu-search {
	display: flex;
	justify-content: space-between;
	width: 28rem;
	background-color: #ffffff;
	padding: 1.3rem;
	position: absolute;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
	right: 10rem;
	top: 5rem;
	border-radius: 2rem;
}

.nav .btns-dropdown .dropdown-search .menu-search input {
	font-size: 16px;
	width: 20rem;
	border: none;
	outline: none;
	color: #1d1d1b;
}

.nav .btns-dropdown .dropdown-search .menu-search .btn-search {
	position: absolute;
	right: 0.8rem;
	top: 0.5rem;
	z-index: 1;
	background-color: #E33323;
	padding: 0.8rem 1.6rem;
	border-radius: 1.5rem;
	cursor: pointer;
}

.nav .btns-dropdown .dropdown-search .menu-search .btn-search a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}

/* Dropdown Usuario (Iniciar sesión y crear cuenta) */
.nav .btns-dropdown .dropdown-user {
	overflow: hidden;
	display: none;
}

.nav .btns-dropdown .dropdown-user.abrir-user {
	display: block;
}

.nav .btns-dropdown .dropdown-user .menu-user {
	width: 12rem;
	background-color: #ffffff;
	padding: 1rem;
	position: absolute;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
	right: 3rem;
	top: 5rem;
	border-radius: 1rem;
}

.nav .btns-dropdown .dropdown-user .menu-user ul {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.nav .btns-dropdown .dropdown-user .menu-user ul li {
	list-style: none;
}

.nav .btns-dropdown .dropdown-user .menu-user ul li:last-child {
	margin-top: 25px;
}

.nav .btns-dropdown .dropdown-user .menu-user ul li a {
	display: block;
	font-size: 16px;
	color: #1d1d1b;
	text-decoration: none;
	font-weight: 600;
}

.nav .btns-dropdown .dropdown-user .menu-user ul li a:hover {
	color: #E33323;
}


/* ----------------------------- */


/* ESTILO CONTENEDOR */
.home {
	overflow: hidden;
	width: 100%;
	height: 100vh;
}

.home .contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100vh;
	clip-path: circle(0% at 0 50%);
}

/* Activamos el primer botón del menú de navegación manual */
.home .contenedor.active {
	clip-path: circle(150% at 0 50%);
	transition: 2s;
	transition-property: clip-path;
}

.home .contenedor .contenido {
	width: 1200px;
}

.home .contenedor .contenido .parrafos {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.home .contenedor .contenido .parrafos h2 { /* Título */
	font-size: 85px;
	color: #fff;
	line-height: 1;
	animation: mov-izq-dcha 2s;
	padding-bottom: 80px;
	display: flex;
	flex-direction: column;
}

 /* Contenido del texto */
.home .contenedor .contenido .parrafos .texto {
	width: 580px;
	margin-right: 40px;
	margin-top: 20px;
}

.home .contenedor .contenido .parrafos .texto p {
	color: #fafafa;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.3;
	text-align: justify;
	animation: mov-dcha-izq 2s;
}

.home .contenedor .contenido a {  /* Botón */
	background-color: #E33323;
	color: #fafafa;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 30px;
	border-radius: 30px;
	display: inline-block;
	animation: mov-izq-dcha 2s;
	transition-property: transform;
}

.home .contenedor .contenido a:hover {
	transform: scale(1.1);
}


/* ----------------------------- */


/* MENÚ DE NAVEGACIÓN LATERAL MANUAL (BOTONES) */
.home .botones-laterales {
	z-index: 1;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 50px;
	left: 30px;
	transform: translatey(60%);
}

.home .botones-laterales .btn {
	background: rgba(255, 255, 255, 0.3);
	width: 22px;
	height: 22px;
	margin: 20px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.15s ease;
}

.home .botones-laterales .btn:hover {
	background-color: #fff;
}

.home .botones-laterales .btn.active {
	background-color: #fff;
}


/* ----------------------------- */


/* FOOTER */
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 30px;
	position: fixed;
	bottom: 0;
}

.footer ul {
	display: flex;
	flex-direction: row;
}

.footer ul li {
	list-style: none;
}

.footer ul li:not(:last-child) {
	padding-right: 20px;
}

.footer ul li a {
	color: #fafafa;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
}

.footer ul li a:hover {
	text-decoration: underline;
}

.footer i:hover {
	transform: scale(1.3);
}


/* ------------------------------ */


/* ANIMACIÓN PÁGINA MEDELLÍN - Cada vez que el usuario entra a la página, se activa la animación en el texto, botón y descripción */
@keyframes mov-izq-dcha { /* Título y botón de enlace */
    from{
        transform: translateX(-50px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes mov-dcha-izq { /* Texto */
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}


/* ------------------------------ */


/*

FORMATO RESPONSIVE
Se adecuarán los tamaños para todo tipo de pantallas.
Ordenadores, tablet y móviles.

*/


/* RESPONSIVE ORDENADOR */

/* Ponemos el menú de navegación lateral en la
parte superior para que al usuario le sea más fácil
navegar por el contenido */

@media (max-width: 1461px) {

    .home .botones-laterales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 130px;
        transform: translateX(130%);
    }
}


/* ------------------------------ */


/* RESPONSIVE ORDENADOR */

/* Adecuamos los botones laterales al
ancho de la pantalla */

@media (max-width: 1251px) {

    .home .botones-laterales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        top: 130px;
        transform: translateX(100%);
    }

    /* ------------------------------ */

    /* Reducimos el ancho del contenido y adecuamos el
    título junto con el texto descriptivo de cada
    destino correspondiente */

    .home .contenedor .contenido{
        width: 1000px;
    }

    .home .contenedor .contenido .parrafos h2{
        font-size: 70px;
        padding-bottom: 60px;
    }

    .home .contenedor .contenido .parrafos .texto{
        width: 520px;
        margin-left: 30px;
    }

    .home .contenedor .contenido .parrafos .texto p{
        font-size: 20px;
    }  
}


/* ------------------------------ */



/* RESPONSIVE ORDENADOR */
@media (max-width: 1031px) {

    /* Reducimos el ancho del contenido y adecuamos el
    título junto con el texto descriptivo de cada
    destino correspondiente */

    .home .contenedor .contenido{
        width: 100%;
        padding-left: 30px;
    }

    .home .contenedor .contenido .parrafos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
    }

    .home .contenedor .contenido .parrafos h2{
        font-size: 60px;
        animation: none;
        padding-bottom: 0;
        margin-bottom: 20px;
        animation: none;
    }

    .home .contenedor .contenido .parrafos .texto{
        width: 620px;
        margin-left: 0;
        margin-bottom: 60px;
    }

    .home .contenedor .contenido .parrafos .texto p{
        animation: none;
        line-height: 1.4;
        animation: none;
    }

    .home .contenedor .contenido a{ /* Botón */
        font-size: 12px;
        padding: 15px 30px;
        animation: none;
    }

    /* ------------------------------ */

    /* Adecuamos los botones laterales al
    ancho de la pantalla */

    .home .botones-laterales{
        display: flex;
        flex-direction: row;
        top: 130px;
        transform: translateX(80%);
    }
}


/* ------------------------------ */


/* RESPONSIVE TABLET */
@media (max-width: 751px) {

    /* Reducimos el tamaño del logo y de los
    iconos del header principal */

    .nav .titulo{
        font-size: 25px;
    }
    
    .nav .btns-dropdown .fa-magnifying-glass,
    .nav .btns-dropdown .fa-user{
        font-size: 25px;
    }
    
    .nav .btns-dropdown .fa-magnifying-glass{
        margin-right: 60px;
    }

    /* ------------------------------ */

    /* Reducimos el tamaño del de los dropdowns de Search
    y los adecuamos al tamaño */

    .nav .btns-dropdown .dropdown-search .menu-search{
        width: 25rem;
        padding: 1.2rem;
        right: 8rem;
    }

    .nav .btns-dropdown .dropdown-search .menu-search input{
        font-size: 14px;
        width: 18rem;
    }

    .nav .btns-dropdown .dropdown-search .menu-search .btn-search{
        top: 0.4rem;
        padding: 0.7rem 1.5rem;
    }

    /* ------------------------------ */

    /* Reducimos el tamaño del de los dropdowns del Usuario
    y los adecuamos al tamaño */

    .nav .btns-dropdown .dropdown-user .menu-user{
        width: 10rem;
        right: 2rem;
    }

    .nav .btns-dropdown .dropdown-user .menu-user ul li a{
        font-size: 14px;
    }

    /* ------------------------------ */

    /* Ponemos el contenido en modo vertical para aprovechar
    al máximo el espacio y adecuamos la tipografía y el
    tamaño de los elementos que hay en su interior, título,
    parráfos y botón inluido */

    .home .contenedor .contenido .parrafos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 120px;
    }

    .home .contenedor .contenido .parrafos h2{
        font-size: 50px;
        animation: none;
        margin-bottom: 10px;
    }

    .home .contenedor .contenido .parrafos .texto{
        width: 520px;
        margin-left: 0;
        margin-bottom: 60px;
    }

    .home .contenedor .contenido .parrafos .texto p{
        animation: none;
        font-size: 18px;
    }

    .home .contenedor .contenido a{ /* Botón */
        font-size: 11px;
        padding: 15px 25px;
        animation: none;
    }

    .home .botones-laterales{
        display: flex;
        flex-direction: row;
        top: 150px;
        transform: translateX(40%);
        z-index: 0;
    }

    /* ------------------------------ */

    /* Reducimos el tamaño de la tipografía
    del footer */

    .footer ul li a{
        font-size: 16px;
    }

}


/* ------------------------------ */

/* RESPONSIVE TABLET */
@media (max-width: 631px) {

     /* El ancho del contenido de la modal de Login
     junto con su título y el botón */

    .login .form{
        width: 350px;
    }

    .login .form h2{
        font-size: 20px;
    }

    .login .form .caja button{
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    /* ------------------------------ */

    /* El ancho del contenido de la modal de Registro
    junto con su título y el botón */

    .registro .formulario{
        width: 350px;
    }

    .registro .formulario h2{
        font-size: 20px;
    }

    .registro .formulario .datos button{
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    /* ------------------------------ */

    /* Reducimos la distancia del dropdown search
    para acercarlo más al icono */

    .nav .btns-dropdown .dropdown-search .menu-search{
        right: 5rem;
        top: 5rem;
    }

    /* ------------------------------ */

    /* Reducimos la distancia del dropdown menú usuario
    para acercarlo más al icono */

    .nav .btns-dropdown .dropdown-user .menu-user{
        top: 5rem;
    }

    /* ------------------------------ */

    .home .contenedor .contenido .parrafos{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 220px;
    }
    

    .home .contenedor .contenido .parrafos h2{
        display: flex;
        flex-direction: column;
        font-size: 55px;
    }

    .home .contenedor .contenido .parrafos .texto{
        width: 80%;
        margin-left: 0;
        margin-bottom: 60px;
    }

    .home .contenedor .contenido .parrafos .texto p{
        animation: none;
        font-size: 18px;
    }

    .home .contenedor .contenido a{ /* Botón */
        font-size: 12px;
        padding: 15px 25px;
        animation: none;
    }

    /* ------------------------------ */

    .home .botones-laterales{
        display: flex;
        flex-direction: row;
        top: 150px;
        transform: translateX(15%);
        z-index: 0;
    }

    /* ------------------------------ */

    .footer{
        display: none;
    }
}



 /* ------------------------------ */



/* RESPONSIVE TABLET-MÓVIL */
@media (max-width: 561px) {

    /* Reducimos el tamaño del logo y de los
    iconos del header principal */

    .nav .titulo{
        font-size: 20px;
    }
    
    .nav .btns-dropdown .fa-magnifying-glass,
    .nav .btns-dropdown .fa-user{
        font-size: 20px;
    }
    
    .nav .btns-dropdown .fa-magnifying-glass{
        margin-right: 40px;
    }

     /* ------------------------------ */

     /* Adecuamos los botones del menú
     de navegación manual */

    .home .botones-laterales{
        transform: translateX(10%);
    }
}



/* ------------------------------ */



/* RESPONSIVE MÓVIL */
@media (max-width: 445px) {

    /* Centramos el menú de navegación por botones
    y reducimos un poco su tamaño */

    .home .botones-laterales{
        transform: translateX(3%);
    }

    .home .botones-laterales .btn{
        width: 20px;
        height: 20px;
        margin: 18px;
    }

    /* ------------------------------ */

     /* Reducimos el tamaño del input del menu
    search */

    .nav .btns-dropdown .dropdown-search .menu-search{
        right: 5rem;
        width: 20rem;
    }

    .nav .btns-dropdown .dropdown-search .menu-search input{
        font-size: 12px;
        width: 18rem;
    }

    .nav .btns-dropdown .dropdown-search .menu-search .btn-search{
        right: 0.5rem;
    }
}